.left-side {
    height: 100%;
    border-right: 1px solid white;
    width: 50vw;
    overflow: hidden;
}

.arrow-button {
    display: inline-block;
    padding: 6px;
    width: 200px;
    background: white !important;
    color: black !important;
    font-weight: 700 !important;
}
